# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/

# Virtual environment
.venv/

# Environment variables
.env

# Database
*.db

# IDE
.vscode/
.idea/

# mypy / pytest cache
.mypy_cache/
.pytest_cache/

# NLTK data
nltk_data/
